.button-wrapper{
    display: flex;
}
.btn {
    background-image: url('../../../public/icons/add-svg.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 5% center;
    width: 102px;
    height: 29px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    border-radius: 5px;
    margin: 12px 12px 8px 8px;
    padding-left: 20px;
    color: #5E6C84;
    background-color: #e5e7ea;
}
.btn:hover, .svg:hover {
    cursor: pointer;
    background-color: white;
}

.add:hover {
    background-color: white;
}

.btn:disabled, .submit:disabled {
    cursor: initial;
}
.submit {
    padding: 0;
    background-image: none;
    background-color: #0079BF;
    color: white;
}
.submit:hover {
    color: #0079BF;
    background-color: white;
    cursor: pointer;
}
.btn:disabled:hover, .submit:disabled:hover {
    background-color: initial;
}